body {
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: gold;
    margin-top: 40px;
}

form {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(145, 140, 7, 0.3);
}

label {
    color: gold;
    font-size: 18px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    outline: none;
}
button{
   
    background: linear-gradient(45deg, #000000, #0a0a0a);
    color: gold;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 20px;
  padding: 14px 30px;
  border: none;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  left: 5%;
  bottom: 20px;
  font-weight: 200;
  position: absolute;
  left: 5%;
  bottom: 20px;
  font: 200
}
button:hover {
    background-color: #c5b911;
    color: gold;
    box-shadow: 0 0 10px gold
