body {
    background-image: url("background.png");

}
h1 {
    text-align: center;
    color: #b4a517;

    letter-spacing: 2px;
}
button{
   
    background: linear-gradient(45deg, #000000, #0a0a0a);
    color: gold;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 20px;
  padding: 14px 30px;
  border: none;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  left: 5%;
  bottom: 20px;
  font-weight: 200;
  position: absolute;
  left: 5%;
  bottom: 20px;
  font: 200
}
button:hover {
    background-color: #c5b911;
    color: gold;
    box-shadow: 0 0 10px gold
}
iframe{
    text-align: center;
}