body {
    background-image: url("fundo\ todos.png");
    font-size: 18px;
}

h1 {
    text-align: center;
    color: #a90606;

    letter-spacing: 2px;
}

p {
    text-align: center;
    color: #ffffff;

    letter-spacing: 2px;
}

section {
    text-align: center;
    color: #ffffff;

    letter-spacing: 2px;
}

button {
  text-align: center;
  color: #051a7a;
  background-color: #a90606;
  margin-top: 20px;
  padding: 14px 30px;
  border: none;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  left: 5%;
  bottom: 20px;
  font-weight: 200;
}
button:hover {
  background: rgb(80, 30, 170);
  transform: scale(1.05); 
}