body {
    background-image: url("background.png");
    font-size: 25px;
}

h1 {
    text-align: center;
    color: gold;

    letter-spacing: 2px;
}

p {
    text-align: center;
    color: #ffffff;

    letter-spacing: 2px;
}

section {
    text-align: center;
    color: #ffffff;

    letter-spacing: 2px;
}

button{
   
    background: linear-gradient(45deg, #000000, #0a0a0a);
    color: gold;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 20px;
  padding: 14px 30px;
  border: none;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  left: 5%;
  bottom: 20px;
  font-weight: 200;
  position: absolute;
  left: 5%;
  bottom: 20px;
  font: 200
}
button:hover {
    background-color: #c5b911;
    color: gold;
    box-shadow: 0 0 10px gold
}
.sobrenos,
.horario,
.social {
  margin: 15px auto;
  padding: 15px;
  max-width: 500px;
  background: #111;
  border: 1px solid #ac8815;
  border-radius: 10px;
}