body {
    background-image: url("fundo\ todos.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 18px;

}

h1{
    color: blue;
    background-color: gold;
}
h2{
   color: gold; 
}
ul{
    color: white
}
footer{
    color: gold;
}
button {
  text-align: center;
  color: #051a7a;
  background-color: gold;
  margin-top: 20px;
  padding: 14px 30px;
  border: none;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  left: 5%;
  bottom: 20px;
  font-weight: 200;
  position: absolute;
  left: 5%;
  bottom: 20px;
  font: 200
}